@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  width: 100%;
}

.tTitle {
  padding: 15px;
  height: 60px;
  background: #181818;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 196.19%;
  text-align: center;
  color: #f9f9f9;
}

.bTitle {
  padding: 7px;
  height: 60px;
  background: #f9f9f9;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 196.19%;
  text-align: center;
  color: #181818;
}

.wrapperImg {
  padding: 129px 1440px 100px 121px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.503)),
    url("/img/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 377px;
}

.wTitle > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #f9f9f9;
}

.wTitle > h2 {
  padding-top: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 196.19%;
  color: #f9f9f9;
}

.bgkTitle h1 {
  padding-top: 58px;
  font-weight: 600;
  font-size: 28px;
  line-height: 196.19%;
  text-align: center;
}

.bgkTitle h2 {
  
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;

  text-align: center;
  color: #474747;
}

.main {
  margin: 0 auto;
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 39px;
  padding: 100px;
}

.card {
  margin-bottom: 30px;
  width: 300px;
  height: 302px;
  background: #d8d8d8;
  padding: 76px 25px;
}

.bkgGreen {
  background-image: url("/img/1.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}

.bkgPurpple {
  background-image: url("/img/2.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}

.bkgWpurple {
  background-image: url("/img/3.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}
.bkgGrey {
  background-image: url("/img/4.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}
.bkgBred {
  background-image: url("/img/5.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}
.bkgOrange {
  background-image: url("/img/6.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}
.bkgWgrey {
  background-image: url("/img/7.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}
.bkgWblack {
  background-image: url("/img/8.png");
  background-size: cover;
  width: 250px;
  height: 150px;
}

footer {
  padding: 12px;
  height: 60px;
  background: #181818;
}

footer > p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 196.19%;
  text-align: center;

  color: #f9f9f9;
}

@media (max-width: 1025px) {
  .wrapperImg {
    padding: 120px 37px;
  }

  .main {
    margin: 0 auto;
    width: 1024px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 40px;
    
  }

  .card {
    width: 450px;
    height: 400px;
    align-items: center;
    margin-bottom: 20px;
    background: #d6d5d6;
  }

  .bkgGreen {    
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 290px;
   
  }

  .bkgPurpple {
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 290px;
  }
  
  .bkgWpurple {
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 290px;
  }
  .bkgGrey {
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 290px;
  }
  .bkgBred {
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 290px;
  }
  .bkgOrange {
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 290px;
  }
  .bkgWgrey {
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 290px;
  }
  .bkgWblack {
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 290px;
  }
}

@media (max-width: 900px) {
  .wrapperImg {
    padding: 120px 37px;
  }

  .main {
    margin: 0 auto;
    width: 688px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 19px;
    padding: 80px;
  }

  .card {
    width: 100%;
    height: 100%;
    align-items: center;
    margin-bottom: 20px;
    background: #d6d5d6;
  }

  .bkgGreen {    
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
   
  }
  
  .bkgPurpple {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  
  .bkgWpurple {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgGrey {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgBred {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgOrange {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgWgrey {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgWblack {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
}

@media (max-width: 700px) {
  .wrapperImg {
    padding: 120px 37px;
  }

  .main {
    margin: 0 auto;
    width: 688px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 19px;
    padding: 80px;
  }

  .card {
    width: 100%;
    height: 100%;
    align-items: center;
    margin-bottom: 20px;
    background: #d6d5d6;
  }

  .bkgGreen {    
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
   
  }
  
  .bkgPurpple {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  
  .bkgWpurple {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgGrey {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgBred {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgOrange {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgWgrey {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
  .bkgWblack {
    background-repeat: no-repeat;
    width: 450px;
    height: 290px;
  }
}

@media (max-width: 420px) {
  .wrapperImg {
    padding: 120px 37px;
  }

  .wrapperImg > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #f9f9f9;
  }

  .wrapperImg > h2 {
    padding-top: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    color: #f9f9f9;
  }

  .bgkTitle h1 {
   
    font-weight: 600;
    font-size: 28px;
    line-height: 196.19%;
    text-align: center;
  }

  .bgkTitle h2 {
   
    font-weight: 500;
    font-size: 15px;
    line-height: 180%;
    text-align: center;
    color: #474747;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  .card {
    width: 100%;
    height: 302px;
    margin-bottom: 20px;
    background: #d6d5d6;
  }

  .bkgGreen {    
    width:250px;
    height: 190px;
   
  }
  
  .bkgPurpple {
    width:250px;
    height: 190px;
  }
  
  .bkgWpurple {
    width:250px;
    height: 190px;
  }
  .bkgGrey {
    width:250px;
    height: 190px;
  }
  .bkgBred {
    width:250px;
    height: 190px;
  }
  .bkgOrange {
    width:250px;
    height: 190px;
  }
  .bkgWgrey {
    width:250px;
    height: 190px;
  }
  .bkgWblack {
    width:250px;
    height: 190px;
  }

  footer > p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 196.19%;
    text-align: center;

    color: #f9f9f9;
  }
}
